@mixin hover-background($color){
  background-color: $color;
  &:hover{
    background-color: $color;
  }
}

$colors: (
        red: #fc4349,
        pink: #E4004F
);

@each $color-name, $color-value in $colors {
  .#{$color-name}{
    background-color: $color-value;
  }
  .#{$color-name}-text{
    color: $color-value;
  }
}